In [49]:
import numpy as np, pandas as pd

In [50]:
Data = pd.read_csv(r'C:\Users\Aarajula\Downloads\raw_data_v11_3.csv')

In [51]:
Data

,Date of Birth,What is your current profession?,What is the year of completion of your Highest Education Qualification?,Which of the following best describes you?,Please mention the name of the institute where you have completed or are currently pursuing your Data Science Certification Course.,"In case your certification institute is ""Innomatics Research Labs"", please provide your Enrolled Batch Number.",Please indicate the time that suits you for your daily LIVE interaction with our Chief Data Scientist as part of your internship.,What do you think are most important skill right now for a skilled Data Scientist?
0,9/16/2000,Fresher (I have completed my Education and loo...,7/30/2023,I am currently enrolled in a Data Science cert...,Innomatics Research Labs,251,6:00 to 7:00 PM IST,Extracting actionable insights from the raw da...
1,2/6/1998,Fresher (I have completed my Education and loo...,5/18/2022,I have never enrolled in any certification cou...,NaN,NaN,6:00 to 7:00 PM IST,Extracting actionable insights from the raw data
2,10/8/2003,Student (I am currently enrolled in some Educa...,4/1/2025,I am currently enrolled in a Data Science cert...,NaN,NaN,6:00 to 7:00 PM IST,Data Modelling
3,11/29/2001,Student (I am currently enrolled in some Educa...,5/15/2024,I have never enrolled in any certification cou...,NaN,NaN,5:00 to 6:00 PM IST,Extracting actionable insights from the raw da...
4,11/25/2004,Student (I am currently enrolled in some Educa...,1/10/2026,I have completed a Data Science certification ...,Velagapudi ramakrishna Siddhartha college,Na,6:00 to 7:00 PM IST,Extracting actionable insights from the raw da...
...,...,...,...,...,...,...,...,...
995,8/28/1998,Fresher (I have completed my Education and loo...,11/15/2022,I have completed a Data Science certification ...,DevTown,NaN,6:00 to 7:00 PM IST,Extracting actionable insights from the raw da...
996,4/22/2004,Student (I am currently enrolled in some Educa...,7/23/2026,I am currently enrolled in a Data Science cert...,ONLINE COURSE,NaN,6:00 to 7:00 PM IST,LLMs
997,6/8/2000,Student (I am currently enrolled in some Educa...,5/31/2024,I have completed a Data Science certification ...,Chandigarh University,NaN,6:00 to 7:00 PM IST,Extracting actionable insights from the raw da...
998,6/3/2003,Student (I am currently enrolled in some Educa...,5/30/2025,I have never enrolled in any certification cou...,NaN,NaN,6:00 to 7:00 PM IST,Extracting actionable insights from the raw da...
999,7/24/2003,Student (I am currently enrolled in some Educa...,5/25/2025,I am currently enrolled in a Data Science cert...,"Birla Institute of Technology and Science, Pil...",NaN,6:00 to 7:00 PM IST,"LLMs, MLOps, Prompt Engineering"

In [52]:
Data.columns

Index(['Date of Birth', 'What is your current profession?',
       'What is the year of completion of your Highest Education Qualification?',
       'Which of the following best describes you?',
       'Please mention the name of the institute where you have completed or are currently pursuing your Data Science Certification Course.',
       'In case your certification institute is "Innomatics Research Labs", please provide your Enrolled Batch Number.',
       'Please indicate the time that suits you for your daily LIVE interaction with our Chief Data Scientist as part of your internship.',
       'What do you think are most important skill right now for a skilled Data Scientist?'],
      dtype='object')

In [53]:
Data.isnull().sum()

Date of Birth                                                                                                                            0
What is your current profession?                                                                                                         0
What is the year of completion of your Highest Education Qualification?                                                                  0
Which of the following best describes you?                                                                                               0
Please mention the name of the institute where you have completed or are currently pursuing your Data Science Certification Course.    322
In case your certification institute is "Innomatics Research Labs", please provide your Enrolled Batch Number.                         662
Please indicate the time that suits you for your daily LIVE interaction with our Chief Data Scientist as part of your internship.        0
What do you think are most important skill right now for a skilled Data Scientist?                                                       0
dtype: int64

In [54]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                                                                                                                               Non-Null Count  Dtype
---  ------                                                                                                                               --------------  -----
 0   Date of Birth                                                                                                                        1000 non-null   object
 1   What is your current profession?                                                                                                     1000 non-null   object
 2   What is the year of completion of your Highest Education Qualification?                                                              1000 non-null   object
 3   Which of the following best describes you?                                                                                           1000 non-null   object
 4   Please mention the name of the institute where you have completed or are currently pursuing your Data Science Certification Course.  678 non-null    object
 5   In case your certification institute is "Innomatics Research Labs", please provide your Enrolled Batch Number.                       338 non-null    object
 6   Please indicate the time that suits you for your daily LIVE interaction with our Chief Data Scientist as part of your internship.    1000 non-null   object
 7   What do you think are most important skill right now for a skilled Data Scientist?                                                   1000 non-null   object
dtypes: object(8)
memory usage: 62.6+ KB

In [55]:
Data.describe()

,Date of Birth,What is your current profession?,What is the year of completion of your Highest Education Qualification?,Which of the following best describes you?,Please mention the name of the institute where you have completed or are currently pursuing your Data Science Certification Course.,"In case your certification institute is ""Innomatics Research Labs"", please provide your Enrolled Batch Number.",Please indicate the time that suits you for your daily LIVE interaction with our Chief Data Scientist as part of your internship.,What do you think are most important skill right now for a skilled Data Scientist?
count,1000,1000,1000,1000,678,338,1000,1000
unique,826,4,553,3,365,139,2,60
top,11/24/2001,Student (I am currently enrolled in some Educa...,5/15/2024,I am currently enrolled in a Data Science cert...,Innomatics Research Labs,Na,6:00 to 7:00 PM IST,Extracting actionable insights from the raw da...
freq,4,488,19,405,109,16,672,214

## What_is_the_current_profession_of_most_interns?

In [56]:
What_is_the_current_profession_of_most_interns = Data['What is your current profession?'].mode().values[0]

In [57]:
What_is_the_current_profession_of_most_interns

'Student (I am currently enrolled in some Educational Program)'

## What are the preferred LIVE session timings?

In [58]:
Live_sessions_timings = Data['Please indicate the time that suits you for your daily LIVE interaction with our Chief Data Scientist as part of your internship.'].mode().values[0]

In [59]:
Live_sessions_timings

'6:00 to 7:00 PM IST'

## How many interns are enrolled or have completed their data science professional courses?

In [60]:
data_science_count = Data['Which of the following best describes you?'].value_counts()
data_science_count

Which of the following best describes you?
I am currently enrolled in a Data Science certification course    405
I have never enrolled in any certification courses                302
I have completed a Data Science certification course              293
Name: count, dtype: int64

In [61]:
enrolled_count = data_science_count .get("I am currently enrolled in a Data Science certification course", 0)
completed_count = data_science_count .get("I have completed a Data Science certification course", 0)
total_count = enrolled_count + completed_count
total_count

698

## For interns who never enrolled in a data science certification course, what is the current profession of the majority of them?

In [62]:
enrollment_column = 'Which of the following best describes you?'
profession_column = 'What is your current profession?'
mode_profession = Data.groupby(enrollment_column)[profession_column].apply(lambda x: x.mode().iloc[0])
mode_profession

Which of the following best describes you?
I am currently enrolled in a Data Science certification course    Fresher (I have completed my Education and loo...
I have completed a Data Science certification course              Fresher (I have completed my Education and loo...
I have never enrolled in any certification courses                Student (I am currently enrolled in some Educa...
Name: What is your current profession?, dtype: object

## Which skill is the third most important for a data scientist?

In [63]:

skills_column = 'What do you think are most important skill right now for a skilled Data Scientist?'

skills_count = Data[skills_column].str.lower().str.replace(r'[^\w\s,]', '', regex=True).str.split(',').explode().str.strip().value_counts()

most_common_skills = skills_count.nlargest(10) 

print(most_common_skills)

What do you think are most important skill right now for a skilled Data Scientist?
extracting actionable insights from the raw data          869
data modelling                                            825
mlops                                                     596
llms                                                      533
basics of backend application development using python    522
prompt engineering                                        425
Name: count, dtype: int64

## How many interns selected “Prompt Engineering” as the most important skill?

In [64]:

skills_column = 'What do you think are most important skill right now for a skilled Data Scientist?'
prompt_engineering_count = Data[skills_column].str.lower().str.count('prompt engineering').sum()
prompt_engineering_count

425

## What is the minimum age of an intern at Innomatics Research Labs?

In [65]:
dob_column = 'Date of Birth'
Data[dob_column] = pd.to_datetime(Data[dob_column])
Data['Age'] = (pd.Timestamp('now') - Data[dob_column]) // pd.Timedelta(days=365)
innomatics_interns = Data[Data['Please mention the name of the institute where you have completed or are currently pursuing your Data Science Certification Course.'] == 'Innomatics Research Labs']
min_age_innomatics = innomatics_interns['Age'].min()
min_age_innomatics

20

## How many interns were born on a Sunday?

In [66]:

dob_column = 'Date of Birth'
Data[dob_column] = pd.to_datetime(Data[dob_column])
sunday_interns = Data[Data[dob_column].dt.dayofweek == 6]
total_sunday_interns = len(sunday_interns)
total_sunday_interns

125

## In which month do the majority of interns are born?

In [67]:

dob_column = 'Date of Birth'
Data[dob_column] = pd.to_datetime(Data[dob_column])
Data['Birth Month'] = Data[dob_column].dt.month_name()
month_order = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
month_counts = Data['Birth Month'].value_counts().reindex(month_order, fill_value=0)
month_counts

Birth Month
January       66
February      64
March         61
April         87
May          102
June          97
July         103
August        93
September     81
October       92
November      78
December      76
Name: count, dtype: int64

## What is the median age of a working professional?

In [68]:
dob_column = 'Date of Birth'
Data[dob_column] = pd.to_datetime(Data[dob_column])
Data['Age'] = (pd.Timestamp('now') - Data[dob_column]).dt.total_seconds() / (365.25 * 24 * 60 * 60)
working_professionals = Data[Data['What is your current profession?'].str.contains('Working Professional', case=False, na=False)]
median_age = working_professionals['Age'].median()
median_age

26.585939433301235

## What is the maximum age of a freelancer?

In [69]:

dob_column = 'Date of Birth'
Data[dob_column] = pd.to_datetime(Data[dob_column])
Data['Age'] = (pd.Timestamp('now') - Data[dob_column]).dt.total_seconds() / (365.25 * 24 * 60 * 60)
freelancers = Data[Data['What is your current profession?'].str.contains('Freelancer', case=False, na=False)]
max_age_freelancer = freelancers['Age'].max()
max_age_freelancer

43.63864306622376

## How many interns didn’t mention the name of the data science institute from where they completed or are currently pursuing the courses?

In [70]:
institute_column = 'Please mention the name of the institute where you have completed or are currently pursuing your Data Science Certification Course.'
missing_institute_count = Data[institute_column].isnull().sum()
missing_institute_count

322

In [71]:
Data.isnull().sum()

Date of Birth                                                                                                                            0
What is your current profession?                                                                                                         0
What is the year of completion of your Highest Education Qualification?                                                                  0
Which of the following best describes you?                                                                                               0
Please mention the name of the institute where you have completed or are currently pursuing your Data Science Certification Course.    322
In case your certification institute is "Innomatics Research Labs", please provide your Enrolled Batch Number.                         662
Please indicate the time that suits you for your daily LIVE interaction with our Chief Data Scientist as part of your internship.        0
What do you think are most important skill right now for a skilled Data Scientist?                                                       0
Age                                                                                                                                      0
Birth Month                                                                                                                              0
dtype: int64

## How many interns mentioned Innomatics as their data science institute?

In [72]:

institute_column = 'Please mention the name of the institute where you have completed or are currently pursuing your Data Science Certification Course.'
innomatics_count = Data[Data[institute_column].str.contains('Innomatics', case=False, na=False)].shape[0]
innomatics_count

278